h1 {
  font-family: "Oswald", Sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;
  text-shadow: 4px 5px #4dba87, 6px 7px #c6a39a;
  opacity: 88%;
  min-width: 100px;
  min-height: 100px;
  z-index: 100;
}
h1 span {
    display: inline-block;
    vertical-align: middle;
  }
.rotate {
  transform: rotate(8deg);
-moz-transform: rotate(8deg);
-webkit-transform: rotate(8deg);
-khtml-transform: rotate(8deg);
-ms-transform: rotate(8deg);
}
