<div>
<div class="container" (document:mousemove)="onMouseMove($event)">
  <div  class="sphere">
    <app-sphere></app-sphere>
  </div>
  <div class="title">
    <h1 class="animate__animated animate__backInDown  lineTitle">
     Hello I'm
    </h1>
    <h1 class="animate__animated animate__bounceInRight animate__slower lineTitle">
       Gaëtan
    </h1>
    <h1 class="animate__animated animate__bounceInLeft animate__slow lineTitle">
      Guibaud
    </h1>
    <div (click)=hinge() class="lineTitle">
      <h3 class="animate__animated  animate__backInUp animate__slower lineTitle" [ngClass]="{'animate__hinge':goHinge}">
        Software Engineer
      </h3>
    </div>
  </div>

  <app-tag [isOpen]=false [tag]="' P '" [ml]="'20px'"></app-tag>

</div>
<footer></footer>
</div>
