.card {
  margin : 30px;
}

.title {
  margin: auto;
  grid-area: title;
  margin-bottom: 10%;
  margin-top: 10%;
}
h1 {
  transform: matrix(1, -0.2, 0, 1, 0, 0);
  -ms-transform: matrix(1, -0.2, 0, 1, 0, 0);
  -webkit-transform: matrix(1, -0.2, 0, 1, 0, 0);
}
