<div class="container">
    <div class="title">
        <span class="tag"> &lt;H2&gt;</span>
        <h1>Experiences</h1>
        <span class="tag"> &lt;\H2&gt;</span>
    
       
    </div>
    
        <div class="left">
            <div>
                <span class="tag"> &lt;P&gt;</span>
                <p>2021/05/01-Today</p>
                <p>Working Airbus aircraft</p>
                <p>Using :</p>

                <span class="tag"> &lt;\P&gt;</span>
            </div>

        </div>



        <div class="right"><app-earth-caneva></app-earth-caneva></div>
  
    
</div>